html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: #181818;
    color: white;
    font-family: sans-serif;
}

#game {
    display: grid;
}

.row {
    display: flex;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid currentColor;
    font-size: 2rem;
}

