html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: #181818;
    color: white;
    font-family: sans-serif;
}

#game {
    display: grid;
}

.row {
    display: flex;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid currentColor;
    font-size: 2rem;

    transition: all .5s ease-in-out;
}

.tile.absent {

    background: #666;

    /*transform: rotateY( 180deg );*/
}

.tile.present {
    background: yellow;
    color: black;
}

.tile.correct {
    background: green;
}

output {
    font-size: 1.3rem;
    text-align: center;
    display: block;
    margin-top: 1.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

