:root {
    --correct-color: #47d747;
    --present-color: #f7f749;
    --absent-color: #888;
    --invalid-color: #ff3f3f;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: #0e1626;
    color: white;
    margin: 0;
    font-family: Poppins, sans-serif;
}

main {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

#game {
    color: white;
    background-image: linear-gradient(153deg, #1c2b45 13%, #0c1321 85%), linear-gradient(149deg, #fec63b 3%, rgba(254, 198, 59, 0) 80%);
    position: relative;
    border-radius: 20px;
    width: 300px;
    margin: auto;
}

#game:before {
    content: '';
    display: block;
    position: absolute;
    inset: -7px;
    background-image: linear-gradient(138deg, #6ba0e2 -20%, #131e32 105%);
    z-index: -1;
    border-radius: 25px;
}

.row {
    display: flex;
    justify-content: center;
}

.row.current .tile:empty:first-of-type {
    -webkit-animation: fade 2s;
            animation: fade 2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes fade {
    50% {
        background: rgba(255, 255, 255, .05)
    }
}

@keyframes fade {
    50% {
        background: rgba(255, 255, 255, .05)
    }
}

.tile {
    outline: 1px solid rgba(73, 110, 158, 0.1);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #496e9e;
}

#keyboard {
    margin-top: 2rem;
}

 .key {
    background: #c5c5c5;
    border: 0;
    margin: 2px;
    height: 60px;
    min-width: 45px;
    border-radius: 4px;

    font-family: Poppins, sans-serif;
    font-weight: 600;

    font-size: 16px;

    cursor: pointer;

    transition: background .1s ease-in-out;
}

.key:hover {
    background: #8b8b8b;
}

.row.invalid .tile, .tile.invalid {
    color: var(--invalid-color);
    text-shadow: 0 0 12px rgba(246, 38, 38, 0.42);
}

.tile.correct {
    color: var(--correct-color);
    text-shadow: 0 0 12px rgba(38, 246, 110, 0.42);
}

.key.correct {
    background: var(--correct-color);
}

.tile.present {
    color: var(--present-color);
    text-shadow: 0 0 12px rgba(246, 171, 38, 0.42);
}

.key.present {
    background: var(--present-color);
}

.key.absent {
    background: var(--absent-color);
}

header {
    position: relative;
}

output {
    
    font-weight: 300;
    font-style: bold;
    font-size: 16px;
    margin-top: 1.75rem;
    display: grid;
    justify-content: center;
    width: auto;

    background-color: #194362;

    padding: .4rem 1.5rem;
    border-radius: 20px;
    border: 1px solid #67bcdd;

}

output:empty {
    display: none;
    color: #496e9e;
}

