:root {
    --correct-color: #47d747;
    --present-color: #f7f749;
    --absent-color: #888;
    --invalid-color: #ff3f3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: #0e1626;
    color: white;
    margin: 0;
    font-family: Poppins, sans-serif;
}

main {
    display: grid;
    place-items: center;

    padding-top: 50px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

iframe {
    display: none;
}

#game {
    color: white;
    background-image: linear-gradient(153deg, #1c2b45 13%, #0c1321 85%), linear-gradient(149deg, #fec63b 3%, rgba(254, 198, 59, 0) 80%);
    position: relative;
    border-radius: 20px;
    width: 300px;
    margin: auto;
}

#game:before {
    content: '';
    display: block;
    position: absolute;
    inset: -7px;
    background-image: linear-gradient(138deg, #6ba0e2 -20%, #131e32 105%);
    z-index: -1;
    border-radius: 25px;
}

.row {
    display: flex;
    justify-content: center;
}

.row.current .tile:empty:first-of-type {
    animation: fade 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes fade {
    50% {
        background: rgba(255, 255, 255, .05)
    }
}

.tile {
    outline: 1px solid rgba(73, 110, 158, 0.1);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #496e9e;
}

#keyboard {
    width: 100%;
    margin-top: 2rem;
}

 .key {
    background: #c5c5c5;
    border: 0;
    margin: 2px;
    height: 60px;
    min-width: 45px;
    border-radius: 4px;

    font-family: Poppins, sans-serif;
    font-weight: 600;

    font-size: 16px;

    cursor: pointer;

    transition: background .1s ease-in-out;
}

.key:hover {
    background: #8b8b8b;
}

.row.invalid .tile, .tile.invalid {
    color: var(--invalid-color);
    text-shadow: 0 0 12px rgba(246, 38, 38, 0.42);
}

.tile.correct {
    color: var(--correct-color);
    text-shadow: 0 0 12px rgba(38, 246, 110, 0.42);
}

.key.correct {
    background: var(--correct-color);
}

.tile.present {
    color: var(--present-color);
    text-shadow: 0 0 12px rgba(246, 171, 38, 0.42);
}

.key.present {
    background: var(--present-color);
}

.key.absent {
    background: var(--absent-color);
}

header {
    position: relative;
}

output {
    
    font-weight: 300;
    font-style: bold;
    font-size: 16px;
    margin-top: 1.75rem;
    display: grid;
    justify-content: center;
    width: auto;

    background-color: #194362;

    padding: .4rem 1.5rem;
    border-radius: 20px;
    border: 1px solid #67bcdd;

}

output:empty {
    display: none;
    color: #496e9e;
}



.section__how {
    display: grid;
    place-items: center;
    margin-top: 50px;

    background-color: #194362;

    padding: 4rem;
}

.heading {
    font-size: 2rem;
}

.rules {
    width: 50%;
    text-align: center;
    font-style: normal;
    font-weight: lighter;
}

.section__howto {
    padding: 4rem;
    padding-bottom: 0;
}

.howto__list {
    display: grid;
    place-items: center;
}

.list__item {
    display: flex;
    flex-direction: column;
}

.wordle-text .howto__list {
    counter-reset: item;
}

.wordle-text .howto__list li {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 45px;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.wordle-text .howto__list li::before {
    
    content: counters(item, ".") " ";
    counter-increment: item;
    width: 55px;
    height: 55px;
    -webkit-box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    background-color: #194362;
    position: absolute;
    top: 0;
    left: calc(50% - 27px);
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    font-size: 30px;
    font-weight: 400;
}

.how-1, .how-2 {
    border-radius: 30px;

    box-shadow: 0 0 25px rgb(0 0 0 / 10%);

    margin-top: 20px;
}

.how-3 {
    margin-top: 20px;
}

.list__item {
    display: grid;
    place-items: center;
}

.list__item > p {
    margin: 30px 0;
}

.section__soon {
    display: grid;
    place-items: center;

    background-color: #194362;
    width: 100%;
    padding: 4rem 0;
}

.soon {
    color: var(--present-color);
    text-shadow: 0 0 12px #FDC53A;
    animation: glow 2s, float 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    text-align: center;
}

@keyframes glow {
    50% {
        text-shadow: 0 0 0 #FDC53A;
    }
}
@keyframes float {
    0% {
    
    transform: translatey(0px);
}
50% {
   
    transform: translatey(-20px);
}
100% {
   
    transform: translatey(0px);
}
}

footer {
    padding-top: 25px;
    padding-bottom: 50px;
}

.footer-container {
    display: grid;
    place-items: center;

    text-align: center;
}

.author-link {
    color: inherit;
}

.coffe-button {
    display: grid;
    place-items: center;

    margin-top: 25px;
}

.not-affiliated {
    margin-top: 25px;

    color: rgb(163, 163, 163);
    opacity: .5;

    text-align: center;
}

.iframe1 {
    margin-top: 2rem;
    display: block;
}

.iframe2 {
    margin-top: 2rem;
    display: block;
}
.iframe3 {
    margin-top: 2rem;
    display: block;
}

.not-found-text {

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #496e9e;
}

.back-link {
    color: white;
    text-decoration: none;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;

    transition: all .5s ease-in-out;
}

.back-link:hover {
    transform: translateX(-5px);
}

.back-link > i {
    margin-right: 10px;
}




@media only screen and (max-width: 720px) {

    .key {
        margin: 2px;
        height: 50px;
        min-width: 35px;
        border-radius: 4px;

    
        font-size: 15px;
    
        transition: background .1s ease-in-out;
    }

    .section__how {
        margin-top: 50px;
    
        background-color: #194362;
    
        padding: 4rem;
    }

    .rules {
        width: 80%;
        text-align: center;
        font-style: normal;
        font-weight: lighter;
    }

    .section__howto {
        padding: 2rem;
    }

    .section__soon {
        display: grid;
        place-items: center;
    
        padding: 4rem;
    }
  }

  @media only screen and (max-width: 520px) { 
        /* .key {
            margin: 2px;
            height: 40px;
            min-width: 25px;
            border-radius: 4px;
    
        
            font-size: 15px;
        
            transition: background .1s ease-in-out;
        } */

        .not-found-text {

            margin-top: 3rem;
        }

        .back-link {
            margin-top: 5rem;
        }
        
        .back-link > i {
            margin-right: 10px;
        }

        .not-affiliated {
            margin-top: 80px;

            width: 80%;
        }
    }

  /* AMAZON AFFILIATE QUERIES */

  @media only screen and (min-width: 320px) { 
    .prime-iframe1 {
        margin-top: 2rem;
        display: block;
    }
    
    .prime-iframe2 {
        margin-top: 2rem;
        display: none;
    }
    .prime-iframe3 {
        margin-top: 2rem;
        display: none;
    }

    .video-iframe1 {
        margin-top: 2rem;
        display: block;
    }
    
    .video-iframe2 {
        margin-top: 2rem;
        display: none;
    }
    .video-iframe3 {
        margin-top: 2rem;
        display: none;
    }
  }

  @media only screen and (min-width: 568px) { 
    .prime-iframe1 {
        margin-top: 2rem;
        display: none;
    }
    
    .prime-iframe2 {
        margin-top: 2rem;
        display: block;
    }
    .prime-iframe3 {
        margin-top: 2rem;
        display: none;
    }

    .video-iframe1 {
        margin-top: 2rem;
        display: none;
    }
    
    .video-iframe2 {
        margin-top: 2rem;
        display: block;
    }
    .video-iframe3 {
        margin-top: 2rem;
        display: none;
    }
  }

  @media only screen and (min-width: 768px) { 
    .prime-iframe1 {
        margin-top: 2rem;
        display: none;
    }
    
    .prime-iframe2 {
        margin-top: 2rem;
        display: none;
    }
    .prime-iframe3 {
        margin-top: 2rem;
        display: block;
    }

    .video-iframe1 {
        margin-top: 2rem;
        display: none;
    }
    
    .video-iframe2 {
        margin-top: 2rem;
        display: none;
    }
    .video-iframe3 {
        margin-top: 2rem;
        display: block;
    }
  }
